<div class="all-section">
  <button type="button" (click)="addSection()">Add Section</button>
</div>

<section class="section-group" *ngFor="let item of items; let i = index">
  <div class="section-header">
    <h2>Section {{ i + 1 }}</h2>
    <button
      type="button"
      (click)="deleteSection(i)"
      [disabled]="items.length === 1"
    >
      Delete Section
    </button>
  </div>
  <app-dynamic-input
    [items]="item"
    (dataChange)="onDataChange()"
  ></app-dynamic-input>
</section>
